@font-face {
  font-family: "Roboto";
  src: url("./polices/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("polices/Shrikhand/Shrikhand-Regular.ttf");
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: auto;
  color: #000000;
  background-color: #F6F6F6;
}

.logoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
  background-color: #FFFFFF;
}
.logoHeader img {
  width: auto;
  height: 32px;
}



footer {
  background-color: #353535;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 25px 25px 35px 25px;
}
footer .titreFooter {
  font-family: "Shrikhand";
  color: white;
  font-style: italic;
  margin-bottom: 0;
  font-size: 20px;
  margin-left: 40px;
}
footer .navigation {
  list-style-type: none;
}
footer .navigation li {
  color: white;
  margin-bottom: 5px;
}
footer .navigation li a {
  display: block;
  text-decoration: none;
  color: white;
}
footer .navigation li a .fas {
  width: 15px;
  height: 15px;
  margin-right: 12px;
}
