@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf");
}
/* SCSS Document */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: auto;
  color: #000000;
  background-color: #F6F6F6;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}
header .flecheRetour {
  height: 40px;
  width: 40px;
  background-color: white;
  margin: 15px;
}
header .flecheRetour a {
  text-decoration: none;
  position: relative;
  top: 10px;
  color: black;
}

.logoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
  background-color: white;
  margin-right: 7%;
}
.logoHeader img {
  width: auto;
  height: 32px;
}

footer {
  background-color: #353535;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 25px 25px 35px 2px;
}
footer .titreFooter {
  font-family: "Shrikhand";
  color: white;
  font-style: italic;
  margin-bottom: 0;
  font-size: 20px;
  margin-left: 40px;
}
footer .navigation {
  list-style-type: none;
}
footer .navigation li {
  color: white;
  margin-bottom: 5px;
}
footer .navigation li a {
  display: block;
  text-decoration: none;
  color: white;
}
footer .navigation li a .fas {
  width: 15px;
  height: 15px;
  margin-right: 12px;
}

body .pageMmenu {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
}
body .pageMmenu .platPhoto {
  width: auto;
  z-index: -1;
}
body .pageMmenu .platPhoto img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
body .unRestaurant {
  display: flex;
  flex-direction: column;
  z-index: 0;
  border-radius: 40px 40px 0 0;
  margin-top: -35px;
  background-color: #F6F6F6;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}
body .unRestaurant .libelle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  font-family: "Shrikhand";
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}
body .unRestaurant .libelle .texte h3 {
  font-weight: 400;
}
body .unRestaurant .libelle .coeur {
  position: absolute;
  right: 15px;
  cursor: pointer;
}
body .unRestaurant .libelle .coeur .coeurPlein {
  display: none;
  background-image: linear-gradient(#e66465, #9198e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
body .unRestaurant .libelle .coeur:hover .coeurVide {
  display: none;
}
body .unRestaurant .libelle .coeur:hover .coeurPlein {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  animation: colorieCoeur 3s;
}
body .unRestaurant .entrees {
  animation: apparition 0.5s;
}
body .unRestaurant .plats {
  animation: apparition 2s;
}
body .unRestaurant .desserts {
  animation: apparition 3.5s;
}
body .unRestaurant .service .nomService {
  font-family: "Roboto", serif;
  text-transform: uppercase;
  margin-left: 20px;
}
body .unRestaurant .service .souligne {
  color: #99E2D0;
  margin-top: -10px;
  margin-left: 20px;
}
body .unRestaurant .service .blocPlats {
  border-radius: 6%;
  margin-bottom: 30px;
}
body .unRestaurant .service .blocPlats .plat {
  cursor: pointer;
  background-color: white;
  margin: 15px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 12px;
  height: 65px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
body .unRestaurant .service .blocPlats .plat .platLib {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
}
body .unRestaurant .service .blocPlats .plat .platLib .platTexte {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45px;
  padding: 10px;
}
body .unRestaurant .service .blocPlats .plat .platLib .platTexte .platLib1 {
  font-weight: bold;
  width: 65%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .unRestaurant .service .blocPlats .plat .platLib .platTexte .platLib2 {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 3px;
}
body .unRestaurant .service .blocPlats .plat .platLib .platTexte .platLib2 .platLib21 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 65%;
}
body .unRestaurant .service .blocPlats .plat .platLib .platTexte .platLib2 .platLib22 {
  width: 10%;
  font-weight: bold;
}
body .unRestaurant .service .blocPlats .plat .platChoisi {
  width: 0%;
  height: 65px;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  transition-duration: 0.7s;
}
body .unRestaurant .service .blocPlats .plat .platChoisi .platCoche {
  align-items: center;
  background-color: white;
  border-radius: 100px;
  color: #99E2D0;
  display: flex;
  height: 25px;
  justify-content: center;
  width: 25px;
  margin-top: -10px;
  margin-bottom: -10px;
  transform: rotate(180deg);
  transition-duration: 0.7s;
}
body .unRestaurant .service .plat:hover .platChoisi {
  width: 20%;
  visibility: visible;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}
body .unRestaurant .service .plat:hover .platChoisi .platCoche {
  transform: rotate(0);
}
body .unRestaurant .service .plat:hover .platChoisi .plat:hover .platTexte {
  width: 80%;
}
body .blocBouton {
  display: flex;
  justify-content: center;
  margin: 10px;
}
body .blocBouton .bouton {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  font-size: 16px;
  color: white;
  background: linear-gradient(180deg, #FF79DA 15%, #9356DC 90%);
  border-style: none;
  box-shadow: 3px 3px 5px gray;
  transition: 0.7s;
}
body .blocBouton .bouton:hover {
  background: linear-gradient(180deg, #ff93e1 8%, #a16be0 90%);
  box-shadow: 3px 3px 5px black;
}

@keyframes apparition {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes colorieCoeur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=menusMf.css.map */
