/* SCSS Document */
/* CSS Document */
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf");
}
/* SCSS Document */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: auto;
  color: #000000;
  background-color: #F6F6F6;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}
header .flecheRetour {
  height: 40px;
  width: 40px;
  background-color: white;
  margin: 15px;
}
header .flecheRetour a {
  text-decoration: none;
  position: relative;
  top: 10px;
  color: black;
}

.logoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
  background-color: white;
}
.logoHeader img {
  width: auto;
  height: 32px;
}

footer {
  background-color: #353535;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 25px 25px 35px 25px;
}
footer .titreFooter {
  font-family: "Shrikhand";
  color: white;
  font-style: italic;
  margin-bottom: 0;
  font-size: 20px;
  margin-left: 40px;
}
footer .navigation {
  list-style-type: none;
}
footer .navigation li {
  color: white;
  margin-bottom: 5px;
}
footer .navigation li a {
  display: block;
  text-decoration: none;
  color: white;
}
footer .navigation li a .fas {
  width: 15px;
  height: 15px;
  margin-right: 12px;
}

.pageMmenu {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
}
.pageMmenu .platPhoto {
  width: auto;
  z-index: -1;
}
.pageMmenu .platPhoto img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.unRestaurant {
  display: flex;
  flex-direction: column;
  z-index: 0;
  border-radius: 40px 40px 0 0;
  margin-top: -35px;
  background-color: #F6F6F6;
}
.unRestaurant .libelle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  font-family: "Shrikhand";
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}
.unRestaurant .libelle .far {
  margin-left: 20%;
}
.unRestaurant .libelle .far .fa-heart {
  width: 40px;
  height: 40px;
}
.unRestaurant .service .nomService {
  font-family: "Roboto", serif;
  text-transform: uppercase;
  margin-left: 10px;
}
.unRestaurant .service .souligne {
  color: #99E2D0;
  margin-top: -10px;
  margin-left: 10px;
}
.unRestaurant .service .blocPlats {
  border-radius: 6%;
  margin-bottom: 30px;
}
.unRestaurant .service .blocPlats .plat {
  background-color: white;
  margin: 15px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}
.unRestaurant .service .blocPlats .plat .platLib {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.unRestaurant .service .blocPlats .plat .platLib .platLib1 {
  font-weight: bold;
}
.unRestaurant .service .blocPlats .plat .platLib .platLib2 {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 3px;
}
.unRestaurant .service .blocPlats .plat .platLib .platLib2 .platLib21 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 84%;
}
.unRestaurant .service .blocPlats .plat .platLib .platLib2 .platLib22 {
  width: 10%;
  font-weight: bold;
}
.unRestaurant .service .blocPlats .plat .platChoisi {
  display: none;
}

.blocBouton {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.blocBouton .bouton {
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  font-size: 16px;
  color: white;
  background: linear-gradient(180deg, #FF79DA 15%, #9356DC 90%);
  border-style: none;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=menusMf.css.map */
