/* CSS Document */
/* CSS Document */
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf");
}
/* SCSS Document */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: auto;
  width: 75%;
  color: #000000;
  background-color: #F6F6F6;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}
header .flecheRetour {
  height: 40px;
  width: 40px;
  background-color: white;
  margin: 15px;
}
header .flecheRetour a {
  text-decoration: none;
  position: relative;
  top: 10px;
  color: black;
}

.logoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
  background-color: white;
  margin-right: 7%;
}
.logoHeader img {
  width: auto;
  height: 32px;
}

footer {
  background-color: #353535;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 10px 10px 10px;
}
footer .titreFooter {
  font-family: "Shrikhand";
  color: white;
  font-style: italic;
  margin-bottom: 0;
  font-size: 20px;
  margin-left: -50px;
}
footer .navigation {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  list-style-type: none;
}
footer .navigation li {
  color: white;
  margin-bottom: 5px;
  margin-right: 40px;
}
footer .navigation li a {
  display: block;
  text-decoration: none;
  color: white;
}
footer .navigation li a .fas {
  width: 15px;
  height: 15px;
  margin-right: 12px;
}

.loader {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  paddind: 0;
  font-family: sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
  z-index: 0;
  background-color: #16a085;
  line-height: 500px;
  visibility: hidden;
  transition: visibility 3s;
  opacity: 0.5;
}
.loader .loaderQdc {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}
.loader .loaderQdc:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: white;
  animation: load 1s linear 0s infinite;
  -webkit-animation: load 1s linear infinite;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.principale {
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
  visibility: visible;
  transition: visibility 3s;
}
.principale #description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F6F6;
}
.principale #description h1 {
  display: none;
}
.principale #description .localisation {
  height: 50px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #EAEAEA;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.principale #description .localisation .fa-map-marker-alt {
  margin-right: 15px;
}
.principale #description .reserver, .principale #description .decouvrir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principale #description .reserver {
  font-size: 21px;
  font-weight: bold;
  margin-top: 30px;
}
.principale #description .decouvrir {
  font-size: 20px;
}
.principale #description #lienRestaurants {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.principale #description #lienRestaurants .boutonRestaurants {
  padding-top: 15px;
  width: 200px;
  height: 38px;
  text-align: center;
  color: white;
  border-radius: 40px;
  background: linear-gradient(180deg, #FF79DA 15%, #9356DC 90%);
  border-style: none;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
.principale #fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  width: auto;
}
.principale #fonctionnement h2 {
  align-self: center;
}
.principale #fonctionnement #blocFonctionnement {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-around;
}
.principale #fonctionnement #blocFonctionnement .ligneFonctionnement {
  margin-lef: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
  width: 315px;
  height: 74px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}
.principale #fonctionnement #blocFonctionnement .ligneFonctionnement:hover {
  background-color: #f2eafb;
}
.principale #fonctionnement #blocFonctionnement .ligneFonctionnement:hover .fas {
  color: #9356DC;
}
.principale #fonctionnement #blocFonctionnement .ligneFonctionnement .pastille {
  text-align: center;
  height: 30px;
  width: 30px;
  margin-right: 30px;
  border-radius: 50%;
  margin-left: -16px;
  color: white;
  background-color: #9356DC;
}
.principale #fonctionnement #blocFonctionnement .ligneFonctionnement .pastille .numero {
  justify-content: center;
  position: relative;
  top: 6px;
}
.principale #fonctionnement #blocFonctionnement .ligneFonctionnement .fas {
  margin-right: 30px;
  color: gray;
}
.principale #restaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
.principale #restaurants h2 {
  margin-left: 43%;
  width: 100%;
  align-self: center;
  margin-top: 35px;
  margin-bottom: -10px;
}
.principale #restaurants a {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}
.principale #restaurants a .unRestaurant {
  width: 100%;
  Border-radius: 5%;
  align-items: center;
  z-index: 2;
  position: relative;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}
.principale #restaurants a .unRestaurant .info {
  background-color: #99E2D0;
  color: #278870;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 500;
  padding: 8px 8px 10px 10px;
}
.principale #restaurants a .unRestaurant .platPhoto {
  Border-radius: 5%;
  margin-top: 35px;
}
.principale #restaurants a .unRestaurant .platPhoto img {
  height: 230px;
  min-width: 350px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  object-fit: cover;
  z-index: 1;
}
.principale #restaurants a .unRestaurant .cartouche {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
}
.principale #restaurants a .unRestaurant .cartouche .libelle {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.principale #restaurants a .unRestaurant .cartouche .libelle .nom {
  font-weight: bold;
  margin: 5px;
}
.principale #restaurants a .unRestaurant .cartouche .libelle .lieu {
  margin: 5px;
  color: gray;
}
.principale #restaurants a .unRestaurant .cartouche .far {
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
