/* CSS Document */

$couleurPrimaire: #9356DC;

$couleurSecondaire: #FF79DA;

$couleurTertiaire: #99E2D0;

$fondGris: #F6F6F6;

$fondAnthracite: #353535;

$couleurFondInfo: #99E2D0;

$couleurInfo: #278870;

$couleurDernierFonctionnement: #f2eafb; 



@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf");
}

$policeLogo : "Shrikhand";

$policeTexte : "Roboto";