/* SCSS Document */

@import 'conf';
@import 'generiqueMf';

.pageMmenu {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    .platPhoto {
        width: auto;
        z-index: -1;
        img {
            height: 300px;
            width: 100%; 
            object-fit: cover;
        }
    }   
}

.unRestaurant {
    display: flex;
    flex-direction: column;
    z-index: 0;
    border-radius: 40px 40px 0 0;
    margin-top: -35px;
    background-color : $fondGris;
    .libelle {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
        font-family: $policeLogo; 
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
        .far {
            margin-left: 20%;            
            .fa-heart {
                width: 40px;
                height: 40px;
            }
        }    
    }
    .service {
        .nomService {
            font-family: $policeTexte, serif;
            text-transform: uppercase;
            margin-left: 10px;
        }
        .souligne {
            color: $couleurFondInfo;
            margin-top: -10px;  
            margin-left: 10px;          
        }
        .blocPlats {
            border-radius: 6%;   
            margin-bottom: 30px;         
            .plat {
                background-color: white;
                margin: 15px; 
                display: flex;
                flex-direction: row;
                padding: 10px;
                border-radius: 12px;
                box-shadow: 0 10px 20px 0 rgb(0 0 0 / 50%);  
                .platLib {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .platLib1 {
                        font-weight: bold;                    
                    }
                    .platLib2 {
                        display: flex;
                        flex-direction: row;
                        font-size: 14px;
                        width: 100%;
                        justify-content: space-between;
                        margin-top: 5px;
                        margin-bottom: 3px;         
                        .platLib21 { 
                            white-space: nowrap;
                            overflow: hidden;  
                            text-overflow: ellipsis;
                            width: 84%;                                                
                        }
                        .platLib22 {
                            width: 10%;                           
                            font-weight: bold;                                        
                        }
                    }
                }
                .platChoisi {
                    display: none;                
                }
            
            }       
        }
    
    }
    
}

.blocBouton {
    display: flex;
    justify-content: center;
    margin: 10px;   
    .bouton {
         border-radius: 20px; 
         padding: 10px 30px 10px 30px;
         font-size: 16px;
         color: white; 
         background: linear-gradient(180deg, #FF79DA 15%, #9356DC 90%);
         border-style: none;
         box-shadow: 0 10px 20px 0 rgb(0 0 0 / 50%);  
    }
}