
@import 'conf';
@import 'generiqueMf';

body {
    margin-left: 2px;
    margin-right: 2px;

.pageMmenu {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    .platPhoto {
        width: auto;
        z-index: -1;
        img {
            height: 300px;
            width: 100%; 
            object-fit: cover;
        }
    }   
}

.unRestaurant {
    display: flex;
    flex-direction: column;
    z-index: 0;
    border-radius: 40px 40px 0 0;
    margin-top: -35px;
    background-color : $fondGris;
    .libelle {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
        font-family: $policeLogo; 
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
        .texte {
            h3 {
                font-weight: 400;
            }
        }
        .coeur {
            position: absolute;
            right: 15px;
            cursor: pointer;            
            .coeurPlein {
                display: none;
                background-image: linear-gradient(#e66465, #9198e5);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-background-clip: text;
                -moz-text-fill-color: transparent; 
            }
            &:hover .coeurVide {
                display: none;
            }
            &:hover .coeurPlein {
                display: -webkit-box;                            
                display: -ms-flexbox;                            
                display: flex;                            
            }                        
        }
    }
    .service {
        .nomService {
            font-family: $policeTexte, serif;
            text-transform: uppercase;
            margin-left: 20px;
        }
        .souligne {
            color: $couleurFondInfo;
            margin-top: -10px;  
            margin-left: 20px;          
        }
        .blocPlats {            
            border-radius: 6%;   
            margin-bottom: 30px;         
            .plat {
                cursor: pointer;
                background-color: white;
                margin: 15px; 
                display: flex;
                flex-direction: row;
                padding: 10px;
                border-radius: 12px;
                height: 65px;
                box-shadow: 0 10px 20px 0 rgb(0 0 0 / 20%);          
                
                
                .platLib {
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    overflow: hidden;
                    width: 100%;
                    .platTexte {
                        display: flex;
                        flex-direction: column;  
                        width: 100%; 
                        height: 45px;
                        padding: 10px;
                                        
                        .platLib1 {
                            font-weight: bold;   
                            width: 65%;    
                            white-space: nowrap;
                            overflow: hidden;  
                            text-overflow: ellipsis;                 
                        }                
                        .platLib2 {
                            display: flex;
                            flex-direction: row;
                            font-size: 14px;
                            width: 100%;
                            justify-content: space-between;
                            margin-top: 5px;
                            margin-bottom: 3px;         
                            .platLib21 { 
                                white-space: nowrap;
                                overflow: hidden;  
                                text-overflow: ellipsis;
                                width: 65%;                               
                            }
                            .platLib22 {
                                width: 10%;                           
                                font-weight: bold;                                        
                            }
                        }
                    }
                }
                .platChoisi {
                    width: 0%;
                    height: 65px;
                    visibility: hidden;
                    display: flex;
                    justify-content: center;  
                    align-items: center;
                    background-color: $couleurFondInfo; 
                    transition-duration: 0.7s;
                    .platCoche {
                        align-items: center;
                        background-color: white;
                        border-radius: 100px;
                        color: $couleurFondInfo;
                        display: flex;
                        height: 25px;
                        justify-content: center;
                        width: 25px;
                        
                        margin-top: -10px;
                        margin-bottom: -10px; ;
                        
                        transform: rotate(180deg);
                        transition-duration: 1s;;                    
                    }                 
                }
            
            }       
        }
        .plat:hover  .platChoisi {
            width: 20%;
            visibility: visible;
            border-bottom-right-radius: 12px;
            border-top-right-radius: 12px;
            .platCoche {
                transform: rotate(0);
            }
        .plat:hover .platTexte {
                width: 80%;
            }
        }        
    
    }
    
}

.blocBouton {
    display: flex;
    justify-content: center;
    margin: 10px;   
    .bouton {
         cursor: pointer;
         border-radius: 20px; 
         padding: 10px 30px 10px 30px;
         font-size: 16px;
         color: white; 
         background: linear-gradient(180deg, #FF79DA 15%, #9356DC 90%);
         border-style: none;
         box-shadow: 3px 3px 5px gray;
         transition: 0.7s;
         &:hover {
            background: linear-gradient(180deg, lighten(#FF79DA,5%) 8%, lighten(#9356DC,5%) 90%);
            box-shadow: 3px 3px 5px black;   
         }  
    }
}

}