/* Document SASS */

/*  variables   */

$couleurPrimaire: #9356DC;

$couleurSecondaire: #FF79DA;

$couleurTertiaire: #99E2D0;



/* Polices  */

@font-face {
  font-family: "Roboto";
  src: url("polices/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Shrikhand";
  src: url("polices/Shrikhand/Shrikhand-Regular.ttf");
}

$policeLogo : "Shrikhand";

$policeTexte : "Roboto";



body {
    font-family: $policeTexte, sans-serif;
    font-size: 16px;
    margin: auto;
    color: #000000;
    background-color: #F6F6F6;
}

.logoHeader {
    display: flex;
    justify-content: center;   
    align-items: center;     
    width: 100%;
    height: 62px;    
    background-color: #FFFFFF;  
    img {
      width: auto;
      height: 32px;
    }
}

.localisation {
    height: 50px; 
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #EAEAEA; 
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 30%);   
    .fa-map-marker-alt {
        margin-right: 15px
    }
}

.reserver {
   font-size: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   #reservez-1, #reservez-2 {
      text-align: center;
   }
 }


/*
-----
header {
    position: relative;
Polices
Logo et titres: Shrikhand
Texte: Roboto
Primaire Secondaire Tertiaire
#9356DC  #FF79DA     #99E2D0 



instruction a coder  sur terminal cmd pour demarrer la compile sass
C:\Users\Mo\Documents\Perso\Dev\P3>.\dart-sass\sass sass\style.scss css\mobilfirst.css --watch

l'execution des scripts doit etre autorisee : 

autre forme sous terminal VS
 
 */